---
import { Picture } from '@astrojs/image/components';

const styleImg = 'w-0 flex-1 object-cover opacity-50  hover:w-max hover:opacity-100 hover:contrast-1.25';
---

<div class="max-w-full mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
  <section class="flex w-1/8 h-[860px]">
    <img class={styleImg} src="origin/Donde_caen_las_hojas_II.jpg" alt="exhalacion" />
    <img class={styleImg} src="origin/Exhalacion_Creciendo.jpg" alt="exhalacion" />
    <img class={styleImg} src="origin/Cambio.jpg" alt="exhalacion" />
    <img class={styleImg} src="origin/La_tercera_parte.jpg" alt="exhalacion" />
    <img class={styleImg} src="origin/MrDentonn_I.jpg" alt="exhalacion" />
  </section>
</div>
