---
import { Image, Picture } from '@astrojs/image/components';

const styleImg = 'w-0 flex-1 object-cover opacity-50 hover:w-max hover:opacity-100 hover:contrast-1.25';
---

<div class="w-full mx-auto">
  <section class="flex h-[1024px]">
    <img class={styleImg} src="origin/denton.jpg" alt="exhalacion" />
    <img class={styleImg} src="origin/creciendo.jpg" alt="exhalacion" />
    <img class:list={[styleImg, 'object-center']} src="origin/stringless.jpg" alt="exhalacion" />
    <img class:list={[styleImg, 'object-center']} src="origin/meditando.jpg" alt="exhalacion" />
    <img class={styleImg} src="origin/infinito.jpg" alt="exhalacion" />
    <img class:list={[styleImg, 'object-center']} src="origin/cambio.jpg" alt="exhalacion" />
    <img class={styleImg} src="origin/hojas.jpg" alt="exhalacion" />
    <img class={styleImg} src="origin/vortex.jpg" alt="exhalacion" />
    <img class={styleImg} src="origin/tercera.jpg" alt="exhalacion" />
    <img class={styleImg} src="origin/lado.jpg" alt="lado" />
    <img class={styleImg} src="origin/lembranza.jpg" alt="lembranza" />
    <img class:list={[styleImg, 'object-right']} src="origin/maria.jpg" alt="maria" />
    <img class:list={[styleImg, 'object-left']} src="origin/malleus.jpg" alt="malleus" />
    <Image
      class={styleImg}
      src={import('~/assets/images/hojas.jpg')}
      format="jpeg"
      height={1024}
      aspectRatio="1024:768"
      alt="The Astro logo"
    />
  </section>
</div>

<!-- <Image
      class="mt-9 w-[200px] hover:w-max"
      src={import('~/assets/images/hojas.jpg')}
      widths={[200, 400]}
      sizes="1024px"
      aspectRatio={5 / 5}
      loading="eager"
      alt="The Astro logo"
    /> -->
