---
import { Icon } from 'astro-icon';

import { getHomePermalink, getBlogPermalink, getPermalink } from '~/utils/permalinks';
---

<a href={getHomePermalink()}> <img class="w-20" src="/logo.webp" alt="3k" /></a>

<div class="self-center ml-10 font-extrabold text-gray-900 whitespace-nowrap dark:text-white">
  <ul class="flex space-x-5 text-5xl">
    <li>
      <a href={getPermalink('/#trabajos')}>
        <span class="hover:text-blue-500">T</span>
        <span class="text-blue-500"> <Icon name="tabler:device-laptop" class="w-5 h-5" /></span>
      </a>
    </li>
    <li>
      <a href={getBlogPermalink()}>
        <span class="hover:text-cyan-500">R</span>
        <span class="text-cyan-500"> <Icon name="tabler:plant" class="w-5 h-5" /></span>
      </a>
    </li>
    <li>
      <a href={getBlogPermalink()}>
        <span class="hover:text-green-500">I</span>
        <span class="text-green-500"> <Icon name="tabler:stack-2" class="w-5 h-5" /></span>
      </a>
    </li>
    <li>
      <a href={getBlogPermalink()}>
        <span class="hover:text-yellow-500">S</span>
        <span class="text-yellow-500"> <Icon name="tabler:brand-soundcloud" class="w-5 h-5" /></span>
      </a>
    </li>
    <li>
      <a href={getBlogPermalink()}>
        <span class="hover:text-orange-500">K</span>
        <span class="text-orange-500"> <Icon name="tabler:current-location" class="w-5 h-5" /></span>
      </a>
    </li>
    <li>
      <a href={getBlogPermalink()}>
        <span class="hover:text-red-500">E</span>
        <span class="text-red-500"> <Icon name="tabler:rocket" class="w-5 h-5" /></span>
      </a>
    </li>
    <li>
      <a href={getBlogPermalink()}>
        <span class="hover:text-violet-500">L</span>
        <span class="text-violet-500"> <Icon name="tabler:login" class="w-5 h-5" /></span>
      </a>
    </li>
  </ul>
</div>
