---
import { Icon } from 'astro-icon';

import { getHomePermalink, getBlogPermalink } from '~/utils/permalinks';
---

<a href={getHomePermalink()}> <img class="w-20" src="/logo.webp" alt="3k" /></a>

<div class="self-center ml-10 font-extrabold text-gray-900 whitespace-nowrap dark:text-white">
  <ul class="flex space-x-5 text-5xl">
    <li>
      <a href={getBlogPermalink()}
        >T
        <span class="text-blue-500"> <Icon name="tabler:device-laptop" class="w-5 h-5" /></span>
      </a>
    </li>
    <li>
      <a href={getBlogPermalink()}
        >R
        <span class="text-cyan-500"> <Icon name="tabler:plant" class="w-5 h-5" /></span>
      </a>
    </li>
    <li>
      <a href={getBlogPermalink()}
        >I
        <span class="text-green-500"> <Icon name="tabler:stack-2" class="w-5 h-5" /></span>
      </a>
    </li>
    <li>
      <a href={getBlogPermalink()}
        >S
        <span class="text-yellow-500"> <Icon name="tabler:brand-soundcloud" class="w-5 h-5" /></span>
      </a>
    </li>
    <li>
      <a href={getBlogPermalink()}
        >K
        <span class="text-orange-500"> <Icon name="tabler:current-location" class="w-5 h-5" /></span>
      </a>
    </li>
    <li>
      <a href={getBlogPermalink()}
        >E
        <span class="text-red-500"> <Icon name="tabler:rocket" class="w-5 h-5" /></span>
      </a>
    </li>
    <li>
      <a href={getBlogPermalink()}
        >L
        <span class="text-violet-500"> <Icon name="tabler:login" class="w-5 h-5" /></span>
      </a>
    </li>
  </ul>
</div>
